@import url(
    "https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap"
);

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}

:root {
    --background-color1: #46912b86;
    --background-color2: #577437;
    --background-color3: #242723;
    --background-color4: #aabb6da4; 
    --primary-color: #38383d;
    --secondary-color: #2e2e30;
    --Border-color: #61aa67;
    --one-use-color: #1e1c20;
    --two-use-color: #2c2b2e;
}

body {
    background-color: var(--background-color4);
    max-width: 100%;
    overflow-x: hidden;
}

header {
    height: 150px;
    width: 100vw;
    padding: 0 10px;
    background-color: var(--background-color1);
    position: fixed;
    z-index: 100;
    box-shadow: 1px 1px 15px rgba(161, 253, 192, 0.825);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 50px;
    font-weight: 1000;
    color: rgb(0, 172, 57);
}

.icn {
    height: 55px;
}

.menuicn {
    cursor: pointer;
}

.logosec {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main-container{
    display: flex;
    width: 100vw;
    position: relative;
    top: 150px;
    z-index: 1;
}

.nav {
    min-height:95vh;
    width: 300px;
    background-color: var(--background-color2);
    position:fixed;
    top: 150px;
    left:00;
    box-shadow: 1px 1px 10px rgba(69, 255, 115, 0.825);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px 0 20px 10px;

}

.navcontainer {
    height: calc(1000vh - 80px);
    width: 250px;
    position: relative;
    overflow-y:scroll;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
}

.navcontainer::-webkit-scrollbar {
    display: none;
}

.navclose {
    width: 80px;
}

.nav-option {
    width: 300px;
    height: 160px;
    display: flex;
    align-items: center;
    padding: 0 30px 0 20px;
    gap: 10px;
    transition: all 0.1s ease-in-out;
}

.nav-option:hover {
    border-left: 10px solid  #46912b86;
    background-color:  #46912ba9;
    cursor: pointer;
}

.nav-img {
    height: 30px;
}

.nav-upper-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.option1 {
    border-left: 5px solid green;
    background-color: var(--Border-color);
    color: white;
    cursor:pointer;
}

.nav-option:hover {
    border-left: 5px solid green;
    background-color: var(--Border-color);
}

.dashboard-content {
    margin-left:150px;
    width:100%;
    padding:40px;
}

.dashboard-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,5fr));
    gap:20px;
}

.game-card{
    background: green;
    min-height:500px;
    border-radius: 100px;
    padding:50px;
    color:white;
    transition:1.0s;
}

.game-card:hover{
    transform:translate(-50px);
    box-shadow: 0 0 20px rgb(220, 255, 63);
}

.game-card h2{
    margin-bottom: 15px;
}

/*this is where i will be working for the pages*/
.page{
    display:none;
    width:100%
}

.page.active{
    display:block;
}
/*_---------------------------------------------------*/

/*working on game card */
.game-card{
    background:green;
    min-height:500px;
    border:none;
    outline:none;
    border-radius:100px;
    padding:50px;
    color:white;
    text-align:left;
    cursor:pointer;
    transition:1s;
}

.game-card h2,
.game-card p{
    pointer-events:none;
}