<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PhisGo</title>
        <link rel="stylesheet" href="/style/login.css">
    </head>

    <body>
        <header>
            <h1 class="heading">PhisGo</h1>
            <h3 class="title">Ready to spot the scam, or are you here to get hooked again?</h3>
        </header>

        <div class="container">
            <div class="slider"></div>
            <div class="btn">
                <button class="login">Login</button>
                <button class="signup">Signup</button>
            </div>

            <div class="form-section">
                <div class="login-box">
                    <input type="email" class="email ele" placeholder="youremail@email.com">
                    <input type="password" class="password ele" placeholder="PASSWORD">
                    <button class="clkbtn">Login</button>
                </div>

                <div class="signup-box">
                    <input type="text" class="name ele" placeholder="ENTER YOUR NAME">
                    <input type="email" class="email ele" placeholder="youremail@email.com">
                    <input type="password" class="password ele" placeholder="PASSWORD">
                    <input type="password" class="password ele" placeholder="CONFIRM PASSWORD">
                    <button class="clkbtn">Signup</button>
                </div>
            </div>
        </div>
        
        <script src="/style/index.js"></script>

        <video autoplay muted loop id="bg-video">
            <source src="/style/visuals/45642-443528294.mp4" type="video/mp4">
        </video>
    </body>
</html>